<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>

  <body>
    <h1>Here is a list of posts</h1>
    <div class="root-container posts-comments-container">
      <%= render 'shared/user_info', user: @user %>
      
      <div class="posts-comments">
        <% @posts.each_with_index do |post, post_no| %>
          <%= link_to(post) do %>
            <div class="post-comments">
              <%= render 'shared/post_info', post: post, post_no: post_no %>
              <div class="comments">
                <% post.five_recent_comments.each do |comment| %>
                  <%= render 'shared/comment', comment: comment %>
                <% end %>
              </div>
            </div>
          <%end%>
        <% end %>
        <%= render 'posts_form' %>
        <button class="btn">Pagination</button>
      </div>
    </div>
  </body>
</html>
