<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>

  <body>
    <h1>This is a post</h1>
        <div class="root-container post-detail-container">
      <div class="post-header">
        <div class="user-name">Post by: <%=@post.author.name%></div>
        <div class="comments-likes">Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></div>
      </div>
      <div class="post-detail">
        <%=@post.text%>
      </div>
      <div class="comments">
        <% @post.comments.includes(:author).each do |comment| %>
          <%= render 'shared/comment', comment: comment %>
        <% end %>
        <%= render 'comments/comments_form' %>
        <%= render 'likes/likes_form' %>
      </div>
    </div>
  </body>
</html>
